.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #61dafb;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 10px ;
  margin: 10px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #61dafb;
  color: #0a2351;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.SignUp-Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputBox{
  display: block;
  padding:10px;
  margin: 10px;
  border:1px solid #61dafb;
}

.error-inputBox{
    font-size: 10px;
    color: red;
}
.signupBtn{
  background-color: #61dafb;
  color:#0a2351;
  padding: 10px;
  width: 150px;
  border: none;
  font-weight: bold;
  
}
.signupBtn:hover{
  border-radius: 22px;
  background-color: #A5FECB;


}

.loginPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.logoImg{
  height: 50px;
  width: 100px;
  margin-left: 10px;
}

.product-list{
  display: flex;
  flex-wrap: wrap;
}
.product-card{
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.productList-Heading{
  padding: 0.25rem;
  text-align: center;
}








/* ////////////// */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
